*{
  margin:10;
  padding:10;
  font-family: sans-serif;
}
body{
  height:100;
  background-image: url(D:/portfolio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color:transparent;
  color: #9a77fa;
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
}
.logo{
  font-size: 2em;
  color: blue;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #e01818;
  text-decoration: underline;
}

section {
  padding: 20px;
}

section h2 {
  color: #f51313;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  color: #9824f7;
}

.project p {
  color: #0a0307;
}
